# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.log

# ML Models
*.pkl

# Database
*.db
*.sqlite3

# Environment
.env
.env.local
.env.*.local

# Virtual environments
venv/

# Node
node_modules/

# Build
dist/
build/
coverage/

# Logs
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Executables
*.exe